<h2 class="page-header">OpenAccess <small>Virtual Slices</small></h2>
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-dashboard"></i> <a ui-sref="root.vimgt">Service Provider</a>
    </li>
    <li class="active">
        <i class="fa fa-history"></i> <a ui-sref="root.history">Historic</a>
    </li>
</ol>

<div class="pull-right">
    <a href="" ng-click="createVIRequest()" class="btn btn-default" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<button ng-click="tableParams.reload()" class="btn btn-default">Reload</button>
{{viSpringList}}

<table st-table="displayedCollection" st-safe-src="dataCollection" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="name">Id</th>
            <th data-title="'Created date'">Created date</th>
            <th data-title="'Status'" class="col-sm-2 col-md-2 col-lg-2">Status</th>
            <th data-title="'Add VI'" class="col-sm-1 col-md-1 col-lg-1">Actions</th>
        </tr>
        <tr>
            <th colspan="2">
                <input st-search="" class="form-control" placeholder="global search ..." type="text" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td><a ng-click="viewService(row.id, row.name)">{{row.name}}</a></td>
            <td>{{row.date| date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{row.status}}</td>
            <td>{{row.vi}}</td>
            <td><a ng-show="vi.status !== 'Created'" href="" ng-click="sendVIR(vi.name)" class="btn btn-default" title="process">Send to Process</a>
                <a ng-show="vi.status !== 'Created'" ui-sref="root.editVIRequest({ id:row.name })" class="btn btn-default" title="edit">Edit</a>
                <a ng-show="vi.status === 'Created'" ui-sref="root.editVIRequest({ id:row.name })" class="btn btn-default" title="edit">View</a></td>
            <td><a href="" ng-click="deleteVIRequest(vi.name)" class="btn btn-default" title="process">Remove</a></td>
            <td>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="5" colspan="3">
            </td>
        </tr>
    </tfoot>
</table>

<table ng-table="tableParams" class="table ng-table-responsive">
    <tr ng-repeat="vi in $data track by $index">
        {{vi.name}}
        <td data-title="'Id'" sortable="'id'" class="col-sm-1 col-md-1 col-lg-1">{{vi.name}}</td>
        <td data-title="'Date'" sortable="'data'" class="col-sm-1 col-md-1 col-lg-1">{{vi.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td data-title="'Status'" sortable="'status'" class="col-sm-1 col-md-1 col-lg-1">
            <span>{{vi.status}}</span>
        </td>
        <td data-title="'Action'" class="col-sm-2 col-md-2 col-lg-2">
            <a ng-show="vi.status !== 'Created'" href="" ng-click="sendVIR(vi.name)" class="btn btn-default" title="process">Send to Process</a>
            <a ng-show="vi.status !== 'Created'" href="#!/editVIRequest/{{vi.name}}" class="btn btn-default" title="edit">Edit</a>
            <a ng-show="vi.status === 'Created'" href="#!/editVIRequest/{{vi.name}}" class="btn btn-default" title="edit">View</a>
        </td>
        <td data-title="'Remove'" class="col-sm-1 col-md-1 col-lg-1">
            <a href="" ng-click="deleteVIRequest(vi.name)" class="btn btn-default" title="process">Remove</a>
        </td>
    </tr>
</table>
