<div class="row">
    <div class="col-md-9">
        <div class="list-group">
            <div class="col-md-2">
                <a href="" class="list-group-item">
                    <div class="ui-widget-content netEl-drag" id="arn">
                        <img id="tson" draggable src="../plugin/img/CONTENT_TSON.png" width="60" style="z-index:1090"> TSON
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="" class="list-group-item">
                    <div class="ui-widget-content netEl-drag" id="cpe">
                        <img id="switch" draggable src="../plugin/img/ofSwitch.png" width="60" style="z-index:1090"> OFSwitch
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="" class="list-group-item">
                    <div class="ui-widget-content netEl-drag" id="cpe">
                        <img id="epc" draggable src="../plugin/img/CONTENT_EPC.png" width="60" style="z-index:1090"> EPC
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="" class="list-group-item">
                    <div class="ui-widget-content netEl-drag" id="cpe">
                        <img id="lte" draggable src="../plugin/img/lte.png" width="60" style="z-index:1090"> LTE
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="" class="list-group-item">
                    <div class="ui-widget-content netEl-drag" id="cpe">
                        <img id="wnode" draggable src="../plugin/img/wifi.png" width="60" style="z-index:1090"> WNode
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h4>Configuration </h4>
        <div class="form-group">
            <input class="btn btn-default" type="submit" ng-click="openAutoMappingDialog()" value="Auto Mapping" />
            <input class="btn btn-default" type="submit" ng-click="openMappingDialog()" value="Manual Mapping" />
            <br/>
            <input class="btn btn-default" type="submit" ng-click="openSlicesDialog()" value="Configure VR" />
        </div>
    </div>
    <div class="col-md-9">
        <div id="viMgt">
            <div grapheditorVI="{{virtualElements}}"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i>
                <i class="fa fa-calendar"></i> VI Period range </label>
            <br>
            <div class="form-group col-xs-12">
                <input type="text" class="form-control" ng-model="period.startDate" data-max-date="{{period.endDate}}" data-date-format="dd-MM-yyyy" data-date-type="number" data-autoclose="1" placeholder="From" bs-datepicker>
            </div>
            <div class="form-group col-xs-12">
                <input type="text" class="form-control" ng-model="period.endDate" data-min-date="{{period.startDate}}" data-date-format="dd-MM-yyyy" data-date-type="number" data-autoclose="1" placeholder="Until" bs-datepicker>
            </div>
            <input class="btn btn-default" type="submit" ng-click="setPeriod(period)" value="Set period" />
        </div>
        <div>
            <h3>List of resources</h3> {{virtualElements}}
            <ul>
                <li ng-repeat="res in virtualElements">
                    {{res.id}} ({{res.type}})
                </li>
            </ul>
        </div>
    </div>
</div>
