<h3 class="page-header">Virtual networks</h3>

<table st-table="displayedCollection" st-safe-src="networkCollection" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="name" class="col-sm-3 col-md-3 col-lg-3">Id</th>
            <th data-title="'Created date'" class="col-sm-2 col-md-2 col-lg-2">Created date</th>
            <th data-title="'date'" class="col-sm-2 col-md-2 col-lg-2">Period start</th>
            <th data-title="'date'" class="col-sm-2 col-md-2 col-lg-2">Period end</th>
            <th class="col-sm-6 col-md-6 col-lg-6">Actions</th>
        </tr>
        <tr>
            <th colspan="2">
                <input st-search="" class="form-control" placeholder="global search ..." type="text" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td><a ng-click="viewService(row.id, row.name)">{{row.id}}</a></td>
            <td>{{row.created_at| date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{row.period.period_start *1000| date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{row.period.period_end *1000| date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
                <button ng-disabled="row.disabled" ui-sref="root.viewVirtualNetwork({ id:row.id })" class="btn btn-primary" title="edit">View</button>

                <a ng-click="deleteDialog(row.id, 'network')" class="btn btn-danger" title="process">Remove</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="5" colspan="5">
            </td>
        </tr>
    </tfoot>
</table>
