<!--ui-gmap-google-map center='map.center' zoom='map.zoom'>


    <ui-gmap-marker coords="randomMarkers" options="marker.options" events="marker.events" idkey="marker.id">
    </ui-gmap-marker>


    <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onMarkerClicked" doCluster="map.doClusterRandomMarkers" clusterOptions="map.clusterOptions" modelsbyref="true">
    </ui-gmap-markers>

    <ui-gmap-markers models="randomMarkers" coords="'self'" typeOptions="'options'" icon="'icon'">
    </ui-gmap-markers>




    </ui-gmap-google-map-->
<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
    <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" doCluster="true">
    </ui-gmap-markers>
</ui-gmap-google-map>
