<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">VI Management</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> VI Management
                </li>
            </ol>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-image fa-fw"></i> Graph</h3>
                    </div>
                    <div class="panel-body">
                        <div id="graph"></div>
                        Virtual resources graph. Instatiate, stop, status of the resource. Show information of the resources (on mouse) Cancel VI
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-cogs fa-fw"></i> Information</h3>
                    </div>
                    <div class="panel-body">
                        Status: ok
                        <br/> Actions: /Start/Stop/Instantiate
                        <br/> Reservation time - Calendar
                        <br/>
                        <img src="img/december-2014-calendar.jpg" width="200px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
