<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h4>Backend endpoint</h4>
            <div class="table-responsive" style="width: 80%;">
                <form>
                    <div class="form-group">
                        <label for="ip">IP:</label>
                        <input class="form-control" name="options.ip" ng-model="options.ip" />
                    </div>
                    <div class="form-group">
                        <label for="ip">Port:</label>
                        <input class="form-control" name="options.port" ng-model="options.port" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <div class="col-md-6">
        <div class="row">
            <h4>Authentication endpoint</h4>
            <div class="table-responsive" style="width: 80%;">
                <form>
                    <div class="form-group">
                        <label for="ip">IP:</label>
                        <input class="form-control" name="options_auth.ip" ng-model="options_auth.ip" />
                    </div>
                    <div class="form-group">
                        <label for="ip">Port:</label>
                        <input class="form-control" name="options_auth.port" ng-model="options_auth.port" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
