<h2 class="page-header">OpenAccess <small>Virtual Slices</small></h2>
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-dashboard"></i> <a ui-sref="root.vimgt">Service Provider</a>
    </li>
    <li class="active">
        <i class="fa fa-history"></i> <a ui-sref="root.history">Historic</a>
    </li>
</ol>

<div class="pull-right">
    <a ng-click="createVIRequest()" class="btn btn-default" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<table st-table="displayedCollection" st-safe-src="dataCollection" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="name" class="col-sm-1 col-md-1 col-lg-1">Id</th>
            <th data-title="'Created date'" class="col-sm-1 col-md-1 col-lg-1">Created date</th>
            <th data-title="'Status'" class="col-sm-1 col-md-1 col-lg-1">Status</th>
            <th data-title="'Add VI'" class="col-sm-2 col-md-2 col-lg-2">Actions</th>
        </tr>
        <tr>
            <th colspan="2">
                <input st-search="" class="form-control" placeholder="global search ..." type="text" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td><a ng-click="viewService(row.id, row.name)">{{row}}</a></td>
            <td>{{row.date| date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{row.status}}</td>
            <td><a ng-show="vi.status !== 'Created'" ng-click="sendVIR(row)" class="btn btn-default" title="process">Send to Process</a>
                <a ng-show="vi.status !== 'Created'" ui-sref="root.editVIRequest({ id:row })" class="btn btn-default" title="edit">Edit</a>
                <a ng-show="vi.status === 'Created'" ui-sref="root.editVIRequest({ id:row })" class="btn btn-default" title="edit">View</a>
                <a ng-click="deleteVIRequest(row)" class="btn btn-default" title="process">Remove</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="5" colspan="3">
            </td>
        </tr>
    </tfoot>
</table>
