<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <h5>Overview the service to be deployed:</h5>
                <div class="box">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="description">Selected nodes:</label>
                            <select multiple ng-multiple="true" ng-model="selectedImages" class="form-control" ng-options="node.hostname for node in serviceToDeploy.Fognodes" readonly></select>
                        </div>
                    </div>
                </div>
                Are you sure you want to deploy this service in the selected node(s)?

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">No</button>
                <button type="button" data-ng-click="deployService(serviceToDeploy)" data-dismiss="modal" class="btn btn-primary">Deploy</button>
            </div>

        </div>
    </div>
</div>
