<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label for="network">Creating a resource inside the network</label>
                        <button disabled type="button" class="btn btn-default" ng-model="selectedNetwork" data-html="1" bs-options="network.id as network.id for network in listNetworks" bs-select>
                            Select <span class="caret"></span>
                        </button>
                    </div>
                    <div>
                        <label for="endpoint">Endpoint (URL)</label>
                        <input type="text" class="form-control" ng-model="resource.endpoint" name="endpoint">
                    </div>
                    <br/>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" events="map.events">
                            <ui-gmap-marker coords="map.clickedMarker.coords" idKey="map.clickedMarker.id" options="map.clickedMarker.options">
                                <ui-gmap-window isIconVisibleOnClick="true">This is my clicked marker!
                                    <p class="muted">My marker will reappear when you close me.</p>
                                </ui-gmap-window>
                            </ui-gmap-marker>
                            <marker coords="map.clickedMarker" options="opts">
                                <!--<marker-label content="map.clickedMarker.title" anchor="24 40" class="marker-labels"/>-->
                                <window isIconVisibleOnClick="true">This is my clicked marker!
                                    <p class="muted">My marker will reappear when you close me.</p>
                                </window>
                            </marker>
                        </ui-gmap-google-map>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" ng-show="creating" style="text-align: center">
                        <i class="fa fa-refresh fa-spin"></i> Creating resource... Please wait until is created.
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" ng-click="addResource(resource)">Add</button>
                </div>

            </div>
        </div>
    </div>
</div>
