<button ng-click="tableParams.reload()" class="btn btn-default">
    Reload</button>

<table ng-table="tableParams" class="table ng-table-responsive">
    <tr ng-repeat="vi in data track by $index">
        {{vi}}
        <td data-title="'Id'" sortable="'id'" class="col-sm-1 col-md-1 col-lg-1">{{vi.id}}</td>
        <td data-title="'Date'" sortable="'date'" class="col-sm-1 col-md-1 col-lg-1">{{vi.attributes.entry.value | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td data-title="'Type'" class="col-sm-1 col-md-1 col-lg-1">{{vi.type}}</td>
        <td data-title="'Actions'" class="col-sm-1 col-md-1 col-lg-1">
            <a ng-hide="'{{vi.type}}' == 'link' || '{{vi.type}}' == 'Network' || '{{subNetwork}}' != ''" href="" ng-click="getResourceModel(vi.id)" class="btn btn-default" title="process">Resources</a>
            <a ng-hide="'{{vi.type}}' == 'link' || '{{vi.type}}' == 'Network' || '{{subNetwork}}' == '' " href="" ng-click="getResourceModelofNitosNetwork(vi.id)" class="btn btn-default" title="process">Nitos Resources</a>

            <a ng-show="'{{vi.type}}' == 'Network'" href="#!/resourcesList/{{vi.id}}" class="btn btn-default" title="process">See network</a>
        </td>
    </tr>
</table>