<div class="row">
    <div class="col-md-3">
        <p class="lead">Networks</p>
        <select bs-select ng-model="selectedNetwork" ng-options="network for network in listNetworks" ></select>
        <p class="lead">List of physical resources</p>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <div class="ui-widget-content netEl-drag" id="arn">
                    <img id="arn" draggable src="../plugin/img/SODALES_ARN.png" width="60" style="z-index:1090"> ARN
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="ui-widget-content netEl-drag" id="cpe">
                    <img id="cpe" draggable src="../plugin/img/SODALES_CPE.png" width="60" style="z-index:1090"> CPE
                </div>
            </a>
        </div>
    </div>
    <div id="piMgt" class="col-md-9" ng-controller="sodalesPiMgtCtrl">
        <h2 class="page-header">PI Management <small>Physical resources management</small></h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-image fa-fw"></i> Topology graph</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <a href="" ng-hide="networkId" ng-click="createNetwork()" class="btn btn-xs btn-default" title="Create Network">Create Network</a>
                        <div grapheditor ng-show="networkId"></div>
                    </div>
                </div>
            </div>
        </div><!--close row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i> Resource info</h3>
                    </div>
                    <div class="panel-body">
                        Form to update information of the physical resource. insert button
                    </div>
                </div>
            </div>
        </div>
    </div><!--close row-->
</div><!--close col-md-9-->

