<div class="row">
    <div class="col-md-3">
        <p class="lead">List of resources</p>
        <div class="list-group">
            <a href="#" class="list-group-item active">Resource 1</a>
            <a href="#" class="list-group-item">Resource 2</a>
            <a href="#" class="list-group-item">Resource 3</a>
        </div>
    </div>
    <div class="col-md-9">
        <h2 class="page-header">Dashboard <small>Information Overview</small></h2>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cloud fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{viSize}}</div>
                                <div>Virtual infrastructures</div>
                            </div>
                        </div>
                    </div>
                    <a href="#!/openaccess/vimgt">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cog fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{spSize}}</div>
                                <div>Service Providers</div>
                            </div>
                        </div>
                    </div>
                    <a href="#!/openaccess/vimgt">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>Slices</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-image fa-fw"></i> Physical Infrastructure</h3>
                    </div>
                    <div class="panel-body">
                        <span ng-hide="networkId">The physical infrastructure is empty. <br/>
                            Create one in the <a href="#!/mgt" >Physical Infrastructure Management tab.</a></span>
                        <div graphview ng-show="networkId"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i> Resource info</h3>
                    </div>
                    <div class="panel-body">
                        Virtual resource information:
                        Name: Resource_1
                        Actions: Start / Instantiate / Stop
                        Status: Ok
                        Other information...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
