<div class="row">
    <div class="col-md-3">
        <p class="lead">List of resources</p>
        <div class="list-group">
            <a href="" ng-click="selectedResource('ARN')" class="list-group-item" ng-class="ARNactive">ARN</a>
            <a href="" ng-click="selectedResource('CPE')" class="list-group-item" ng-class="CPEactive">CPE</a>
        </div>
    </div>
    <div class="col-md-9">
        <h2 class="page-header">Live Monitoring <small>Statistics</small></h2>
        <div ng-show="ARNStats">
            <table ng-table="tableParams" class="table ng-table-responsive">
                <tr ng-repeat="iface in $data">
                    <td data-title="'Eth ID'" sortable="'date'" class="col-sm-2 col-md-2 col-lg-2">{{iface._name}}</td>
                    <td data-title="'HighLayer'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface._collision}}</td>
                    <td data-title="'Admin'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface._admin}}</td>
                    <td data-title="'Auto-negotiation'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface._collision}}</td>
                    <td data-title="'MediaType'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface.ethStatus._mediaType}}</td>
                    <td data-title="'Collisions'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface.ethStatus._collision}}</td>
                    <td data-title="'Link'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface.ethStatus._link}}</td>
                    <td data-title="'Tx'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface.ethStatus._link}}</td>
                    <td data-title="'Rx'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">{{iface.ethStatus._link}}</td>
                    <td data-title="'Statistics'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">
                        <a href="" ng-click="viewStatistics(iface._interfaceId)" title="View">View</a>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="CPEStats">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> Port:</li>
                <li ng-repeat="portMap in cpePortList" style="content:'/'; padding:'0';">
                    <a href="" ng-click="getCPEStats(portMap.port)">{{portMap.port}}</a></li>
            </ol>
            <table border="1">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Port id</td>
                    <td>{{content.pmId}}</td>
                </tr>
                <tr>
                    <td>FwdGreen Pkts</td>
                    <td>{{content.FwdGreen-pkts}}</td>
                </tr>
                <tr>
                    <td>FwdGreen Bytes</td>
                    <td>{{content.FwdGreen-bytes}}</td>
                </tr>
                <tr>
                    <td>FwdYellow Pkts</td>
                    <td>{{content.FwdYellow-pkts}}</td>
                </tr>
                <tr>
                    <td>FwdYellow Bytes</td>
                    <td>{{content.FwdYellow-bytes}}</td>
                </tr>
                <tr>
                    <td>DisGreen Pkts</td>
                    <td>{{content.DisGreen-pkts}}</td>
                </tr>
                <tr>
                    <td>DisGreen Bytes</td>
                    <td>{{content.DisGreen-bytes}}</td>
                </tr>
                <tr>
                    <td>DisYellow Pkts</td>
                    <td>{{content.DisYellow-pkts}}</td>
                </tr>
                <tr>
                    <td>DisYellow Bytes</td>
                    <td>{{content.DisYellow-bytes}}</td>
                </tr>
            </table>
        </div>
        <!-- /.row -->
    </div>
</div>