<div class="row">
    <div class="col-md-3">
        <p class="lead">List of SP</p>
        <div class="list-group">
            <a href="#" class="list-group-item active">SP 1</a>
            <a href="#" class="list-group-item">SP 2</a>
            <a href="#" class="list-group-item">SP 3</a>
        </div>
    </div>
    <div class="col-md-9">
        <h2 class="page-header">Virtual slice management </h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-image fa-fw"></i> Graph</h3>
                    </div>
                    <div class="panel-body">
                        <div id="graph"></div>
                            Visual resource graph
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i> Resource info</h3>
                    </div>
                    <div class="panel-body">
                        <div id="graph"></div>
                        Form to update information of the physical resource. insert button
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

