
<div class="container-fluid" ng-controller="sodalesPiMgtCtrl">
Adding a ARN resource
    <form action="createARN" method="post" name="editForm">
        <div>
            <div>Select network
                <input type="text" class="form-control" ng-model="arn.network"
                       name="network">
            </div>
            <div>Enter the endpoint (URL)
                <input type="text" class="form-control" ng-model="arn.endpoint"
                       name="endpoint" >
            </div>
            
            <div>
                <a href="" class="btn btn-sm btn-primary" ng-click="addARN(arn)">Add</a>
            </div>
        </div>
    </form>

</div>