
<div class="container-fluid" ng-controller="sodalesPiMgtCtrl">

    <form action="createARN" method="post" name="editForm">
        <div>
            <div>Add this resource inside the network
                <input type="text" class="form-control" ng-model="arn.network"
                       name="network" bs-typeahead>
            </div>
            <div>Enter the endpoint (URL)
                <input type="text" class="form-control" ng-model="arn.endpoint"
                       name="endpoint" >
            </div>
            <div>
                <a href="#" class="btn btn-sm btn-primary" ng-click="addCPE(arn)">Add</a>
            </div>
        </div>
    </form>

</div>