
<h3>SODALES</h3>

<br/>Availables Root resources: <br/>
<li ng-repeat="resource in data.IRootResource.IRootResourceId" ng-init="id=$index;">
    {{id}}: <b>{{resource}}</b> 
    <a href="#!/infoResource/{{resource}}" class="btn btn-xs btn-default" title="Info Resource"><span class="glyphicon glyphicon-search"></span></a>
    <a href="#!/listServices/{{resource}}" class="btn btn-xs btn-default" title="List Services"><span class="glyphicon glyphicon-search"></span></a>
    <a href="#!/info/{{resource}}" class="btn btn-xs btn-default" title="info"><span class="glyphicon glyphicon-search"></span></a>
    <a href="" ng-click="deleteEntry(resource)" class="btn btn-xs btn-default" title="delete"><span class="glyphicon glyphicon-trash"></span></a>
</li>

<a href="" ng-click="openARNDialog()">Create ARN</a>
<a href="" ng-click="createNetwork()">Create Network</a>
<a href="" ng-click="createTSON()">Create TSON</a>
