<div class="row">
    <div class="col-md-3">
        <div class="row">
            <h3 class="page-header">Networks</h3>
            <button type="button" class="btn btn-default" ng-model="selectedNetwork" data-html="1" bs-options="network for network in listNetworks" bs-select ng-change="setNetworkId(selectedNetwork)">
                Select <span class="caret"></span>
            </button>
            <h3 class="lead">Physical resources</h3>
            <div class="list-group">
                <a href="" class="list-group-item">
                    <div class="ui-widget-content netEl-drag" id="arn">
                        <img id="arn" draggable src="images/SODALES_ARN.png" width="60" style="z-index:1090"> ARN
                    </div>
                </a>
                <a href="" class="list-group-item">
                    <div class="ui-widget-content netEl-drag" id="cpe">
                        <img id="cpe" draggable src="images/SODALES_CPE.png" width="60" style="z-index:1090"> CPE
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div ng-show="networkId">
                <h3 class="page-header">Resources</h3>
                <ul>
                    <li ng-repeat="res in physicalResources">
                        <a ng-click="getResourceInfo(res)"> {{res}}</a> -
                        <a ng-click="deleteDialog(res)"> Remove </a>
                    </li>
                </ul>
                <h3 class="page-header">Links</h3>
                <ul>
                    <li ng-repeat="link in physicalLinks">
                        {{link.id}}: {{link.from}} to {{link.to}}
                        <a ng-click="deleteDialog(link.id)"> Remove </a>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="link in createdLinkInfo">
                        {{createdLink}}: {{link.s}} to {{link.t}} -
                        <a ng-click="deleteDialog(link)"> Remove </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="piMgt" class="col-md-9">
        <h3 class="page-header">PHY Management <small>Physical resources management</small></h3>
        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-image fa-fw"></i> Topology graph</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <a href="" ng-hide="networkId" ng-click="createNetwork()" class="btn btn-xs btn-default" title="Create Network">Create Network</a>
                        <div ng-controller="editPhyNetwork" id="myDraggableZone" phydroppable ng-show="networkId">
                            <vis-network ng-model="network_data" options="network_options" on-select="onNodeSelect" id="previewNetwork">
                            </vis-network>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div ng-show="networkId && resourceInfo.ports">
                    <h3 class="page-header">Ports</h3>
                    <div style="overflow-y: scroll; height:250px;">
                        <ul>
                            <li ng-repeat="res in resourceInfo.ports">
                                {{res.attributes.entry[0].value}}
                            </li>
                        </ul>
                    </div>
                    <h3 class="page-header">Slice information</h3>
                    <div style="">
                        Units
                        <ul>
                            <li ng-repeat="res in resourceInfo.slicing.slices.units">
                                <a ng-click="getRangeInfo(res)"> {{res.id}}</a>
                            </li>
                        </ul>
                        Cubes
                        <ul>
                            <li ng-repeat="res in resourceInfo.slicing.slices.cubes">
                                <a ng-click="getCubeInfo(res)"> Cube</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!--close row-->
    </div>
    <!--close row-->
</div>
<!--close col-md-9-->
