<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
    <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" doCluster="true" click="onClick">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>
                Node {{title}}
                <br>
                Location: {{ latitude | number:4 }}, {{ longitude | number:4 }}!
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
</ui-gmap-google-map>