<div class="container-fluid">
    <form action="createARN" method="post" name="editForm">
        <div>
            <h3>Connection between resources </h3>({{source}}, {{dest}})
            <div ng-hide="createdLink">
                Create link <a href="" class="btn btn-sm btn-primary" ng-click="createLink()">Add</a> {{createdLink}}
            </div>
            <div ng-show="createdLink">
                Link: {{createdLink}}<br/>

                Select source port of {{source}}:
                <select placeholder="select virtual port" bs-select ng-model="piPort1" ng-options="port for port in physicalPorts1.IResource.IResourceId" ></select>
                <a ng-show="dstPortAttahed" class="btn btn-sm btn-primary" ng-click="attachPortsToLink('source', piPort1)">Attach source port</a>
                {{dstPortAttahed}}
                <br/>
                Select target port of {{dest}}:
                <select placeholder="select virtual port" bs-select ng-model="piPort2" ng-options="port for port in physicalPorts2.IResource.IResourceId" ></select>
                <a ng-show="dstPortAttahed" class="btn btn-sm btn-primary" ng-click="attachPortsToLink('dest', piPort2)">Attach destination port</a>
                {{dstPortAttahed}}
            </div>

        </div>
    </form>
    <div>
        <a href="" class="btn btn-sm btn-primary" ng-click="closeThisDialog()">Close dialog</a>
    </div>
</div>
