
<h3>SODALES OpenAccess DASH</h3>

<br/>List of Service Providers <br/>

<div class="pull-right">
    <button ng-click="tableParams.reload()" class="btn btn-default">Reload</button>
    <button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
</div>
<table ng-table="tableParams" class="table ng-table-responsive">
    <tr ng-repeat="iface in $data">
        <td data-title="'Service Provider name'" sortable="'date'" class="col-sm-2 col-md-2 col-lg-2">{{iface.name}}</td>
        <td data-title="'Created date'" sortable="'date'" class="col-sm-2 col-md-2 col-lg-2">{{iface.date| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td data-title="'VI List'" sortable="'date'" class="col-sm-2 col-md-2 col-lg-2">{{iface.vi}}</td>
        <td data-title="'Add VI'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">
            <select ng-model="selectedAddVi">
                <option ng-repeat="item in listVi| viDuplicates:iface.vi">{{item}}</option>
            </select> 
            <a href="" ng-click="addVI(iface.id, selectedAddVi)" title="View">Add</a>
        </td>
        <td data-title="'Remove VI'" sortable="'type'" class="col-sm-1 col-md-1 col-lg-1">
            <select ng-model="selectedRemoveVi">
                <option ng-repeat="item in iface.vi">{{item}}</option>
            </select> 
            <a href="" ng-click="removeVI(iface.id, selectedRemoveVi)" title="View">Remove</a>
        </td>
    </tr>
</table>

<a href="" ng-click="openSPCreationDialog()">Add new Service Provider</a>

