<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" class="non-margined" name="cpeSvcForm">
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">Policer id</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-default" ng-model="cpeSvc.police" data-html="1" bs-options="police.id for police in cpePolices" bs-select>Action <span class="caret"></span></button>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align"> Source port</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-default" ng-model="cpeSvc.srcPort" data-html="1" bs-options="res.id for res in virtualResource.ports track by res.id" bs-select style="margin: 0 0 10px;" required>
                                Select <span class="caret" style="position: relative;
    z-index: 5000"></span>
                            </button>
                            <span style="color:red" ng-show="cpeSvcForm.description.$dirty && cpeSvcForm.description.$invalid">
<span ng-show="cpeSvcForm.description.$error.required">Description is required.</span>
                            </span>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align"> Target port</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-default" ng-model="cpeSvc.dstPort" data-html="1" bs-options="res.id for res in virtualResource.ports track by res.id" bs-select style="margin: 0 0 10px;" required>
                                Select <span class="caret" style="position: relative;
    z-index: 5000"></span>
                            </button>
                            <span style="color:red" ng-show="cpeSvcForm.description.$dirty && cpeSvcForm.description.$invalid">
<span ng-show="cpeSvcForm.description.$error.required">Description is required.</span>
                            </span>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align"> Flow type </label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="cpeSvcForm.eIngressType" required placeholder="1">
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align"> Vlan Flowtype</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="cpeSvcForm.vlanEdit_flowtype" required>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align"> Vlan Flowtype outer</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="cpeSvcForm.vlanEdit_flowtype_outer" required>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align"> Inner Vlan</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="cpeSvcForm.innerVlan" required>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align"> Outer Vlan</label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="cpeSvcForm.outerVlan" required>
                            <br/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" ng-click="createCpeService(cpeSvc, 'CCM')" ng-disabled="!cpeSvcForm.$valid">Create Service</button>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
