<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" class="non-margined" name="nsForm">
                    <div class="fx-form-block-controls fx-first collapse am-collapse in" data-uxfwk-collapse-target="">
                        <div class="form-group">
                            <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">Name</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="ns.name" required>
                                <br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">Administrative state</label>
                            <div class="col-sm-8">
                                <select class="btn btn-default form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-maxlength" disabled style="margin: 0 0 10px;">
                                    <option ng-model="ns.admin" value="2">Blocked</option>
                                    <option ng-model="ns.admin" value="1">In service</option>
                                </select>
                                <br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">Service type</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-default form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-maxlength" ng-model="ns.serviceType" data-html="1" bs-options="service.name for service in service_types" bs-select style="margin: 0 0 10px;" required>
                                    Select <span class="caret"></span>
                                </button>
                                <br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">NNI S-TAG</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="ns.uplinkVlanId" required>
                                <br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">UNI C-TAG</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" class="form-control input-sm ng-pristine" name="name" data-ng-maxlength="64" ng-model="ns.uniVlanId" required>
                                <br/>
                            </div>
                        </div>
                        {{listCards}} {{tagList}}
                        <div class="form-group">
                            <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">Cards</label>
                            <div class="col-sm-8">
                                <tags-input ng-model="listCards" display-property="_id" placeholder="Add cards" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" template="tag-template" required>
                                    <auto-complete source="loadCards($query)" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="32" template="autocomplete-template"></auto-complete>
                                </tags-input>
                                <script type="text/ng-template" id="tag-template">
                                    <div class="tag-template">
                                        <div class="right-panel">
                                            <span>{{$getDisplayText()}}</span>
                                            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                        </div>
                                    </div>
                                </script>
                                <script type="text/ng-template" id="autocomplete-template">
                                    <div class="autocomplete-template" style="position: relative;z-index: 5000;">
                                        <div class="right-panel">
                                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                                            <span>({{data._name}})</span>
                                        </div>
                                    </div>
                                </script>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{errorMessage}}
                <button class="btn btn-sm btn-primary" ng-click="createNetworkService(ns, listCards)" ng-disabled="!nsForm.$valid">Create Network Service</button>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>