<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" class="non-margined" name="policerForm">
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">CIR</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm ng-pristine" name="description" data-ng-maxlength="64" ng-model="policer.CIR" required placeholder="100000000">
                            <span style="color:red" ng-show="policerForm.description.$dirty && policerForm.description.$invalid">
<span ng-show="policerForm.description.$error.required">CIR is required.</span>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">EIR</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm ng-pristine" name="description" data-ng-maxlength="64" ng-model="policer.EIR" required placeholder="0">
                            <span style="color:red" ng-show="policerForm.description.$dirty && policerForm.description.$invalid">
<span ng-show="policerForm.description.$error.required">EIR is required.</span>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">CBS</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm ng-pristine" name="description" data-ng-maxlength="64" ng-model="policer.CBS" required placeholder="64000">
                            <span style="color:red" ng-show="policerForm.description.$dirty && policerForm.description.$invalid">
<span ng-show="policerForm.description.$error.required">CBS is required.</span>
                            <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label ng-scope fx-required-field modal-align">EBS</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm ng-pristine" name="description" data-ng-maxlength="64" ng-model="policer.EBS" required placeholder="0">
                            <span style="color:red" ng-show="policerForm.description.$dirty && policerForm.description.$invalid">
<span ng-show="policerForm.description.$error.required">EBS is required.</span>
                            <br/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" ng-click="createLAG(policer)" ng-disabled="!policerForm.$valid">Create Police</button>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
