<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <context:annotation-config />

    <!-- DATABASE SETUP -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="sa" />
        <property name="password" value="" />
        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:mem:example" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="persistenceUnitName" value="mqNaaSGUIPU" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
	
    <bean id="historyEntryDao" class="org.opennaas.gui.dao.history.JpaHistoryEntryDao"></bean>
    <bean id="serviceProviderDao" class="org.opennaas.gui.dao.serviceProvider.JpaServiceProviderDao"></bean>
    <bean id="userDao" class="org.opennaas.gui.dao.user.JpaUserDao"></bean>
	
    <bean id="dataBaseInitializer" class="org.opennaas.gui.dao.DataBaseInitializer" init-method="initDataBase">
        <constructor-arg ref="userDao" />
        <constructor-arg ref="serviceProviderDao" />
        <constructor-arg ref="passwordEncoder" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- INIT REST COMPONENTS  -->
    <context:component-scan base-package="org.opennaas.gui.rest.resources" />
	
    <bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" />
    
    <!-- Application Message Bundle -->
    <bean id="configSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="/WEB-INF/config" />
        <property name="cacheSeconds" value="0" />
    </bean>
        
    <bean id="clientJersey" class="org.opennaas.gui.services.JerseyClient" /> 
    <bean id="arnClient" class="org.opennaas.gui.services.ARNClient" /> 
    <bean id="cpeClient" class="org.opennaas.gui.services.CPEClient" /> 

</beans>