<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bars fa-fw"></i> Virtual Slice list</h3>
    </div>
    <div class="panel-body">
        <div class="">
            <table st-table="displayedCollection" st-safe-src="networkCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th data-title="'id'" class="col-sm-3 col-md-3 col-lg-3">Id</th>
                        <th data-title="'date'" class="col-sm-2 col-md-2 col-lg-2">Date</th>
                        <th data-title="'date'" class="col-sm-2 col-md-2 col-lg-2">Period start</th>
                        <th data-title="'date'" class="col-sm-2 col-md-2 col-lg-2">Period end</th>
                        <th data-title="'content'">Actions</th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <input st-search="" class="form-control" placeholder="global search ..." type="text" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection track by $index">
                        <td>{{row.id}}</td>
                        <td>{{row.created_at| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{row.period.period_start *1000| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td ng-style="row.disabled === true && {'color': 'red'}">{{row.period.period_end *1000| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <button ng-disabled="row.disabled" ui-sref="root.spVIInfo({id: row.id})" class="btn btn-default btn-info" title="edit">View virtual slice</button>
                            <button ng-disabled="row.disabled" ui-sref="root.spStats({id: row.id})" class="btn btn-default btn-warning" title="edit">Virtual slice stats</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="20" colspan="5">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
