<div class="row" ng-show="!virtNetId">
    No virtual network selected. Please select.
</div>
<div class="row" ng-show="virtNetId">
    <div class="col-md-4">
        <h3 class="page-header">Resource Information</h3>
        <div class="list-group" ng-show="!virtualResource">
            No resource selected.
        </div>
        <div class="list-group" ng-show="virtualResource">
            <div class="fx-form-block-controls fx-first collapse am-collapse in" data-uxfwk-collapse-target="">
                <div class="form-group">
                    <label class="col-sm-4 control-label ng-binding">Name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static ng-binding ng-scope">
                            {{virtualResource.id}}
                        </p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label ng-binding">Type</label>
                    <div class="col-sm-8">
                        <p class="form-control-static ng-binding ng-scope">
                            {{virtualResource.type}}
                        </p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label ng-binding">Ports</label>
                    <p class="form-control-static ng-binding ng-scope">
                        <li ng-repeat="res in virtualResource.ports">
                            {{res.id}} - {{res.attributes.entry[0].value}}
                        </li>
                    </p>
                </div>
                <button class="btn btn-sm btn-primary" ng-click="openOperationARNDialog(virtualResource.id, virtualResource.type)">Operation</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <div class="col-md-8" ng-show="operation">
        <h3 class="page-header">Operation</h3>
        <b>LAGs</b>
        <table>
            <thead>
                <tr>
                    <th class="col-sm-2 col-md-2 col-lg-2">Name</th>
                    <th class="col-sm-3 col-md-3 col-lg-3">Administrtive state</th>
                    <th class="col-sm-3 col-md-3 col-lg-3">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="interface in LAGs" ng-if="interface.lag">
                    <td>{{interface._name}}</td>
                    <td>
                        <span ng-if="interface._admin === '1'">In service</span>
                        <span ng-if="interface._admin === '2'">Blocked</span>
                    </td>
                    <td>{{interface._description}}</td>
                </tr>
            </tbody>
        </table>

        <button ng-click="openModal('createLAG')">Create LAG</button>
        <button ng-click="openModal('createNS')">createNetworkService</button>
        <button ng-click="openModal('createCS')">createClientService</button>



        <b>Create network service</b> id, name, uplinkVlanId, uniVlanId Activate network service
    </div>
    <div class="col-md-8">
        <h3 class="page-header">Virtual topology -  {{virtNetId}}</h3>
        <div ng-controller="spViewNetwork" id="myDraggableZone" ng-show="virtNetId">
            <vis-network ng-model="network_data" options="network_options" on-select="onNodeSelect" id="previewNetwork">
            </vis-network>
        </div>
        <!-- /.row -->
    </div>
</div>
