<div class="row" ng-show="!virtNetId">
    <div class="col-md-4 col-md-offset-4">
        <h3 class="page-header">No virtual network selected</h3>
        <div class="list-group" ng-show="!virtualResource">
            <button type="button" class="btn btn-default" ng-model="selectedNetwork" data-html="1" bs-options="network.id for network in networkCollection" bs-select ng-change="setVirtualNetwork(selectedNetwork)">
                Select <span class="caret"></span>
            </button>
        </div>
    </div>
</div>
<div class="row" ng-show="virtNetId">
    <div class="col-md-4">
        <h3 class="page-header">Resource Information</h3>
        <div class="list-group" ng-show="!virtualResource">
            No resource selected.
        </div>
        <div class="list-group" ng-show="virtualResource">
            <div class="fx-form-block-controls fx-first collapse am-collapse in" data-uxfwk-collapse-target="">
                <div class="form-group">
                    <label class="col-sm-4 control-label ng-binding">Name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static ng-binding ng-scope">
                            {{virtualResource.id}}
                        </p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label ng-binding">Type</label>
                    <div class="col-sm-8">
                        <p class="form-control-static ng-binding ng-scope">
                            {{virtualResource.type}}
                        </p>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label ng-binding">Ports</label>
                    <p class="form-control-static ng-binding ng-scope">
                        <li ng-repeat="res in virtualResource.ports">
                            {{res.id}} - {{res.attributes.entry[0].value}}
                        </li>
                    </p>
                </div>
                <button class="btn btn-sm btn-primary" ng-click="openOperationARNDialog(virtualResource.id, virtualResource.type)">Operate</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <div class="col-md-8">
        <div ng-show="operation">
            <h3 class="page-header">Operation</h3>
            <div bs-active-pane="operation_tabs.activeTab" bs-tabs>
                <div ng-repeat="tab in operation_tabs" title="{{ tab.title }}" name="{{ tab.url }}" disabled="{{ tab.disabled }}" bs-pane ng-click="onClickTab(tab)">
                </div>
                <div id="mainView">
                    <div class="tab-content">
                        <div ng-include="operation_tabs.activeTab"></div>
                    </div>
                </div>
                <script type="text/ng-template" id="tab_lag">
                    <div class="table-responsive">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-primary" ng-click="openModal('createLAG')">Create LAG</button>
                        </div>
                        <table st-table="lagCollection" st-safe-src="LAGs" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Name</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Administrative state</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Description</th>
                                    <th class="col-sm-4 col-md-3 col-lg-3">Actions</th>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <input st-search="" class="form-control" placeholder="global search ..." type="text" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in lagCollection" ng-if="row.lag">
                                    <td>{{row._name}}</td>
                                    <td>
                                        <span ng-if="row._admin === '1'">In service</span>
                                        <span ng-if="row._admin === '2'">Blocked</span>
                                    </td>
                                    <td>{{row._description}}</td>
                                    <td>
                                        <button type="button" ng-click="activateLag(row) " class="btn btn-sm" ng-class="row._admin === '1' ? 'btn-warning' : 'btn-success'">
                                            <span ng-if="row._admin === '1'">Disable</span>
                                            <span ng-if="row._admin === '2'">Enable</span>
                                        </button>
                                        <a ng-click="editLAG(row.id)" class="btn btn-sm btn-info" title="process"><i class="fa fa-pencil"></i></a>
                                        <button type="button" ng-click="deleteLAG(row)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </script>

                <script type="text/ng-template" id="tab_ns">
                    <div class="table-responsive">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-primary" ng-click="openModal('createNS')">Create Network Service</button>
                        </div>
                        <table st-table="nsCollection" st-safe-src="networkServices" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Name</th>
                                    <th class="col-sm-1 col-md-1 col-lg-1">Administrative state</th>
                                    <th class="col-sm-1 col-md-1 col-lg-1">Type</th>
                                    <th class="col-sm-1 col-md-1 col-lg-1">IGMP</th>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Multicast flood</th>
                                    <th class="col-sm-1 col-md-1 col-lg-1"># of interfaces</th>
                                    <th class="col-sm-2 col-md-3 col-lg-3">Actions</th>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <input st-search="" class="form-control" placeholder="global search ..." type="text" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in nsCollection">
                                    <td>{{row._name}}</td>
                                    <td>
                                        <span ng-if="row._admin === '1'">In service</span>
                                        <span ng-if="row._admin === '2'">Blocked</span>
                                    </td>
                                    <td>
                                        {{service_types[row._type].name}}
                                    </td>
                                    <td>
                                        <input type="checkbox" name="igmp" data-ng-checked="row._igmpEnable=== '1'" disabled="" checked="checked">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="igmp" data-ng-checked="row._multicastFlood=== '1'" disabled="" checked="checked">
                                    </td>
                                    <td>{{row.interfaceList_ref.interface_ref.length}}</td>
                                    <td>
                                        <button type="button" ng-click="activateNetworkService(row) " class="btn btn-sm" ng-class="row._admin === '1' ? 'btn-warning' : 'btn-success'">
                                            <span ng-if="row._admin === '1'">Disable</span>
                                            <span ng-if="row._admin === '2'">Enable</span>
                                        </button>
                                        <a ng-click="editNS(row.id)" class="btn btn-sm btn-info" title="process"><i class="fa fa-pencil"></i></a>
                                        <button type="button" ng-click="deleteNS(row._id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </script>
                <script type="text/ng-template" id="tab_cs">
                    <div class="table-responsive">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-primary" ng-click="openModal('createCS')">Create Client Service</button>
                        </div>
                        <table st-table="csCollection" st-safe-src="clientServices" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Name</th>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Administrative state</th>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Network Service</th>
                                    <th class="col-sm-2 col-md-2 col-lg-2">UNI-CTAG</th>
                                    <th class="col-sm-2 col-md-2 col-lg-2">Actions</th>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <input st-search="" class="form-control" placeholder="global search ..." type="text" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in csCollection">
                                    <td>{{row._name}}</td>
                                    <td>
                                        <span ng-if="row._admin === '1'">In service</span>
                                        <span ng-if="row._admin === '2'">Blocked</span>
                                    </td>
                                    <td>{{networkServices[row._networkServiceId -1 ]._name}}
                                    </td>
                                    <td>{{row._cVlan}}</td>
                                    <td>
                                        <button type="button" ng-click="activateClientService(row) " class="btn btn-sm" ng-class="row._admin === '1' ? 'btn-warning' : 'btn-success'">
                                            <span ng-if="row._admin === '1'">Disable</span>
                                            <span ng-if="row._admin === '2'">Enable</span>
                                        </button>
                                        <a ng-click="editLAG(row.id)" class="btn btn-sm btn-info" title="process"><i class="fa fa-pencil"></i></a>
                                        <button type="button" ng-click="deleteCS(row.id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </script>
            </div>
        </div>

        <h3 class="page-header">Virtual topology -  {{virtNetId}}</h3>
        <div ng-controller="spViewNetwork" id="myDraggableZone" ng-show="virtNetId">
            <vis-network ng-model="network_data" options="network_options" on-select="onNodeSelect" id="previewNetwork">
            </vis-network>
        </div>
        <!-- /.row -->
    </div>
</div>