<div id="graph" >
    <div id="info_message" class="ui-widget" style="display:none; position:absolute; width: 78%">
        <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
            <p>
                <span class="ui-icon ui-icon-check" style="float: left; margin-right: .3em;"></span>
                <strong>Info:</strong> <div id="info_message_text"></div>
            </p>
        </div>
    </div>
    <div id="error_message" class="ui-widget" style="display:none; position:absolute; width: 78%">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Alert:</strong> <div id="error_message_text"></div>
            </p>
        </div>
    </div>
</div>