.dl-menuwrapper ul{
    background: #222;

}

.side-nav li a:hover,
    .side-nav li a:focus {
        background-color: #494949 !important;
        text-decoration: none;
	font-weight: bold;
    }

.side-nav{
position: absolute;
    background-color: #222;
    overflow-y: inherit;
    z-index: -1;
}

.dl-submenu{
    color: white;

}

