<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <h5>Please, fill all the fields:</h5>
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tenantName">Tenant name</label>
                            <input ng-model="object.name" type="text" class="form-control" id="tenantName" placeholder="Tenant name">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button ng-click="create(object)" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
