<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <h5>Do you want to put a friendly name to the generated virtual slice?</h5>
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="networkName">Virtual slice name</label>
                            <input ng-model="object.name" type="text" class="form-control" id="networkName" placeholder="slice name">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button ng-click="sendVIR(viReq, object)" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
