<div class="row">
    <div class="col-md-3">
        <p class="lead">AVAILABLE resources</p>
        <div class="list-group">
            <a href="" ng-click="selectedResource('ARN')" class="list-group-item" ng-class="ARNactive">ARN</a>
            <a href="" ng-click="selectedResource('CPE')" class="list-group-item" ng-class="CPEactive">CPE</a>
        </div>
        <div>
            VI Settings. COnfig, period...
        </div>
    </div>
    <div class="col-md-9">
        <h2 class="page-header">Editing request: {{viId}}</h2>
        <div>
            <table border="1">
                <tr>
                    <td>DisYellow Bytes</td>
                </tr>
            </table>
        </div>
        <!-- /.row -->
    </div>
</div>
