
<div class="page-header">
    <h2>OpenAccess <small>Virtual Slices</small></h2>
    <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="#!/openaccess/vimgt">Service Provider</a>
            </li>
            <li class="active">
                <i class="fa fa-history"></i>  <a href="#!/openaccess/history">Historic</a>
            </li>
        </ol>
</div>
<div class="pull-right">
    <a href="" ng-click="createVIRequest()" class="btn btn-default" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<button ng-click="tableParams.reload()" class="btn btn-default">Reload</button>
{{viSpringList}}
<table ng-table="tableParams" class="table ng-table-responsive">
    <tr ng-repeat="vi in $data track by $index">
        {{vi.name}}
        <td data-title="'Id'" sortable="'id'" class="col-sm-1 col-md-1 col-lg-1">{{vi.name}}</td>
        <td data-title="'Date'" sortable="'data'" class="col-sm-1 col-md-1 col-lg-1">{{vi.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td data-title="'Status'" sortable="'status'" class="col-sm-1 col-md-1 col-lg-1">
            <span>{{vi.status}}</span>
        </td>
        <td data-title="'Action'" class="col-sm-2 col-md-2 col-lg-2">
            <a ng-show="vi.status !== 'Created'" href="" ng-click="sendVIR(vi.name)" class="btn btn-default" title="process">Send to Process</a>
            <a ng-show="vi.status !== 'Created'"  href="#!/editVIRequest/{{vi.name}}" class="btn btn-default" title="edit">Edit</a>
            <a ng-show="vi.status === 'Created'" href="#!/editVIRequest/{{vi.name}}" class="btn btn-default" title="edit">View</a>
        </td>
        <td data-title="'Remove'" class="col-sm-1 col-md-1 col-lg-1">
            <a href="" ng-click="deleteVIRequest(vi.name)" class="btn btn-default" title="process">Remove</a>
        </td>
    </tr>
</table>

