<div class="container-fluid" ng-controller="editVIController">
    <b>Mapping virtual resource to physical resource</b>
    List of virtual ports
    List of physical ports
    <form action="createARN" method="post" name="editForm">
        <div>
            <div>Select network
                <select ng-model="arn.network">
                    <option selected>{{networkId}}</option>
                </select> 
            </div>
            <div>Enter the endpoint (URL)
                <input type="text" class="form-control" ng-model="arn.endpoint" name="endpoint" >
            </div>
            <br/>
            <div>
                <a href="" class="btn btn-sm btn-primary" ng-click="addARN(arn)">Add</a>
            </div>
        </div>
    </form>
</div>