'use strict';

angular.module('mqnaasApp.config', [])
    .constant('AUTHENTICATION', 'http://127.0.0.1:5000/')
    .constant('BACKEND', 'http://127.0.0.1:9000/')
    .constant('MQNAAS', 'http://84.88.40.174');
