<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li ng-class="{'active': $state.current.name === 'root.dashboard'}">
            <a ui-sref="root.dashboard"><i class='fa fa-dashboard'></i><span>Home</span></a>
        </li>
        <li restrict access="sysadmin" ng-class="{'active': $state.current.name === 'root.users'}">
            <a ui-sref="root.users"><i class='fa fa-user'></i><span>{{ 'System_users' | translate }}</span></a>
        </li>
        <li restrict access="sysadmin" class="treeview" ng-class="{'active': (selectedTenant.id || user.tenant_id)}">
            <a restrict access="sysadmin" ng-click="treeview[1] = !treeview[1]">
                <i class='fa fa-sitemap'></i><span>
                    <select class="form-control" placeholder="select tenant" ng-model="selectedTenant" ng-options="tenant.name for tenant in tenants" style="display: -webkit-inline-box; display: -moz-inline-box; width: 75%" ng-change="gotoTenantsView(selectedTenant)"><option value="">Select tenant</option></select>
                </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="treeview" ng-class="{'active': ($state.current.name === 'root.services' || $state.current.name === 'root.services.instances')}">
                    <a ui-sref="root.services"><i class='fa fa-cloud'></i><span>{{ 'Services' | translate }}</span></a>
                    <ul class="treeview-menu">
                        <li ng-class="{'active': $state.current.name === 'root.services.instances'}">
                            <a ui-sref="root.services.instances"><i class='fa fa-cloud'></i><span>{{ 'Instances' | translate }}</span></a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{'active': $state.current.name === 'root.fvds'}">
                    <a ui-sref="root.fvds"><i class='fa fa-cubes'></i><span>{{ 'FVDs' | translate }}</span></a>
                </li>
                <li ng-class="{'active': $state.current.name === 'root.tenants.users'}">
                    <a ui-sref="root.tenants.users"><i class='fa fa-user'></i><span>{{ 'Users' | translate }}</span></a>
                </li>
            </ul>
        </li>
        <li restrict access="tenantadmin tenantuser" class="treeview" ng-class="{'active': ($state.current.name === 'root.services' || $state.current.name === 'root.services.instances')}">
            <a ui-sref="root.services"><i class='fa fa-cloud'></i><span>{{ 'Services' | translate }}</span></a>
            <ul class="treeview-menu">
                <li ng-class="{'active': $state.current.name === 'root.services.instances'}">
                    <a ui-sref="root.services.instances"><i class='fa fa-cloud'></i><span>{{ 'Instances' | translate }}</span></a>
                </li>
            </ul>
        </li>
        <li restrict access="tenantadmin tenantuser" ng-class="{'active': $state.current.name === 'root.fvds'}">
            <a ui-sref="root.fvds"><i class='fa fa-cubes'></i><span>{{ 'FVDs' | translate }}</span></a>
        </li>
        <li restrict access="tenantadmin tenantuser" ng-class="{'active': $state.current.name === 'root.tenants.users'}">
            <a ui-sref="root.tenants.users"><i class='fa fa-user'></i><span>{{ 'Users' | translate }}</span></a>
        </li>
        <li restrict access="sysadmin tenantadmin tenantuser" ng-class="{'active': $state.current.name === 'root.nodes'}">
            <a ui-sref="root.nodes"><i class='fa fa-cube'></i><span>Fog Nodes</span></a>
        </li>
        <li restrict access="sysadmin tenantadmin tenantuser" ng-class="{'active': $state.current.name === 'root.policies'}">
            <a><i class='fa fa-file-text'></i><span>Policies</span></a>
        </li>
        <li restrict access="sysadmin tenantadmin tenantuser" ng-class="{'active': $state.current.name === 'root.policies'}">
            <a><i class='fa fa-bar-chart'></i><span>Analytics</span></a>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
