<div class="container-fluid" ng-controller="editVIController">
    <b>Do you want to add a new virtual {{ngDialogData.nodeType}} resource?</b>
    <form action="createARN" method="post" name="editForm">
        <div>
            parent: {{$parent.ngDialogData}} dialog: {{ngDialogData}}
            <div ng-hide='resourceRequest'>
                <a href="" class="btn btn-sm btn-primary" ng-click="addResourceToVI(ngDialogData.nodeType)">Add {{ngDialogData.nodeType}} resource</a>
            </div>
            <div ng-show='resourceRequest'>
                Resource added correctly with the name: {{resourceRequest}}.
                <div>
                    <a href="" class="btn btn-sm btn-primary" ng-click="addVirtualPortToResource(resourceRequest)">Add port</a>
                </div>
                {{virtualPort}}
                <ul>
                    <li ng-repeat=" vPort in virtualPort">
                        {{vPort}}
                    </li>
                </ul>
            </div>
            
            <div>
                <a href="" class="btn btn-sm btn-primary" ng-click="addResourceToGraph(resourceRequest)">Add</a>
            </div>
        </div>
    </form>
</div>