.set-size {
  font-size: 10em;
}

.pie-wrapper.succesfull .pie .half-circle {
  border-color: #1abc9c;
}

.pie-wrapper.danger .pie .half-circle {
  border-color: #e67e22;
}

.pie-wrapper.alert .pie .half-circle {
  border-color: #e74c3c;
}

.pie-wrapper.info .pie .half-circle {
  border-color: #3498db;
}

.pie-wrapper {
  @size: 1em;
  
  .size(@size, @size);
  display: inline-block;
  position: relative;
  
  .pie
  {
    .size(100%, 100%);
    clip: rect(0, @size, @size, @size / 2);
    left: 0;
    position: absolute;
    top: 0;
  
    .half-circle
    {
      .size(100%, 100%);
      border: @size / 10 solid #3498db;
      border-radius: 50%;
      clip: rect(0, @size / 2, @size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }
  
  .label
  {
    @font-size: @size / 4;
    @font-size-redo: @size * 4;
    
    background: #34495e;
    border-radius: 50%;
    bottom: @font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: @font-size;
    left: @font-size-redo / 10;
    line-height: @font-size-redo * .65;
    position: absolute;
    right: @font-size-redo / 10;
    text-align: center;
    top: @font-size-redo / 10;
    
    .smaller
    {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }
  
  .shadow
  {
    .size(100%, 100%);
    border: @size / 10 solid #bdc3c7;
    border-radius: 50%;
  }
  
  &.style-2
  {    
    .label
    {
      background: none;
      color: #7f8c8d;
    
      .smaller
      {
        color: #bdc3c7;
      }
    }
  }
  

  @iterations: 100;
.span-loop (@i) when (@i > 0) {

  &.progress-@{i}
  {
    .draw-progress(@i);
  }.span-loop(@i - 1);
}
.span-loop (@iterations);

 
}

.draw-progress(@progress) when (@progress <= 50)
{
  .pie
  {
    .right-pie-side
    {
      display: none;
    }
  }
}

.draw-progress(@progress) when (@progress > 50)
{
  .pie
  {
    clip: rect(auto, auto, auto, auto);
  
    .right-pie-side
    {
      .transform(rotate(180deg));
    }
  }
}

.draw-progress(@progress)
{
  .pie
  {
    
    .left-pie-side
    {
      @rotate: @progress * 3.6;
      .transform(rotate(~'@{rotate}deg'));
    }
  }
}

// --
.size(@w, @h) {
  height: @h;
  width: @w;
}

.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}


