<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="list-unstyled" style="cursor: pointer;">
        <!--li class="nav-header">
            <a ui-sref="root.dashboard" data-toggle="collapse" data-target="#userMenu">
                <h4>Home <i class="glyphicon"></i></h4>
            </a>
        </li-->
        <li class="nav-header">
            <a data-toggle="collapse" data-target="#menu3">
                <h4>Physical infrastructure <i class="glyphicon glyphicon-chevron-right"></i></h4>
            </a>

            <ul class="list-unstyled collapse" id="menu3">
                <li><a ui-sref="root.resourcesMgt">Management</a>
                </li>
                <li><a ui-sref="root.resourcesList">Resources</a>
                </li>
                <li><a ui-sref="root.map">Map</a>
                </li>
            </ul>
        </li>
        <li class="nav-header">
            <a data-toggle="collapse" data-target="#menu2">
                <h4>VI Management <i class="glyphicon glyphicon-chevron-right"></i></h4>
            </a>
            <ul class="list-unstyled collapse" id="menu2">
                <li><a ui-sref="root.createVI">Requested VIs</a>
                </li>
                <li><a ui-sref="root.createdVIs">Created VIs</a>
                </li>
            </ul>
        </li>
        <li class="nav-header">
            <a data-toggle="collapse" data-target="#menu4">
                <h4>Virtual infrastructure operators <i class="glyphicon glyphicon-chevron-right"></i></h4>
            </a>
            <ul class="list-unstyled collapse" id="menu4">
                <li><a ui-sref="root.vimgt">Operators</a>
                </li>
            </ul>
        </li>
        <li class="nav-header">
            <a ui-sref="root.settings" data-toggle="collapse" data-target="#userMenu">
                <h4>Settings <i class="glyphicon glyphicons-wrench"></i></h4>
            </a>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
