<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" sytle="width: 800px">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <!--pre class="beautify" ng-bind-html="jsonObj | prettify"></pre-->
            <pre class="beautify" ng-bind-html="jsonObj | prettify"></pre>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
