<!DOCTYPE html>
<html ng-app="openNaaSApp">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>CONTENT | Convergence of Wireless Optical Network and IT REsources IN SupporT of Cloud Services</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="bower_components/ng-table/ng-table.css" rel="stylesheet">
        <link href="bower_components/ngDialog/css/ngDialog.css" rel="stylesheet">
        <link href="bower_components/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet">
        <link href="bower_components/ngDialog/css/ngDialog-theme-plain.css" rel="stylesheet">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="plugin/external/jquery-ui.js"></script>
        <link href="bower_components/jquery-ui/themes/start/jquery-ui.css" rel="stylesheet"/>
        <link type="text/css" media="screen" href="plugin/ONtoD3lib.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">

        <!-- Template -->
        <link rel="stylesheet" media="screen" href="css/sb-admin.css">
        <link rel="stylesheet" media="screen" href="css/default.css">
        <link rel="stylesheet" href="css/component.css">
        <link rel="stylesheet" media="screen" href="css/new_css.css">
        <script src="js/lib/modernizr.custom.js" type="text/javascript"></script>

        <!-- Fonts -->
        <link rel="stylesheet" media="screen" href="bower_components/fontawesome/css/font-awesome.min.css">

    </head>
    <body >

        <div class="loader" ng-hide="initialized">
            Loading...
        </div>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="padding: 0"><img src="img/content_logo_small.png" alt="" style="width: 160px; margin-left: 25px;"></a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown" ng-show="user">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <li class="dropdown">
                        @logged(user)
                    </li>
                </ul>

                <wxy-push-menu menu="menu" options="options"></wxy-push-menu>

                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <div class="column">
                            <div id="dl-menu" class="dl-menuwrapper">
                                <button class="dl-trigger" style="opacity:0;">Open Menu</button>
                                <ul class="dl-menu dl-menuopen" style="opacity:1">
                                    <li>
                                        <!--                                        <a href="#!" onclick="javascript:loadPage('');
                                                                                                                    return false;">Home</a>-->
                                        <a href="#!/home">Home</a>
                                        <!--                                        <ul class="dl-submenu">
                                                                                    <li>
                                                                                        <a href="#!/resource1">NITOS resource </a>
                                                                                        <ul class="dl-submenu">
                                                                                            <li><a href="#">1</a></li>
                                                                                            <li><a href="#">2</a></li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a href="#">Other Resources</a>
                                                                                        <ul class="dl-submenu">
                                                                                            <li><a href="#">1</a></li>
                                                                                            <li><a href="#">2</a></li>
                                                                                            <li><a href="#">3</a></li>
                                                                                        </ul>
                                                                                    </li>
                                                                                </ul>
                                        -->                                    
                                    </li>
                                    <li>
                                        <a href="#!/createVI">VI Management</a>
                                        <!--                                        <ul class="dl-submenu">
                                                                                    <h3>List of Resources</h3>
                                                                                    <div id="viResourceList">
                                                                                        <a href="#">Virtual Resource 1</a>
                                                                                    </div>
                                                                                </ul>
                                        -->                                  </li>
                                    <li>
                                        <a href="">Edit VI</a>
                                        <ul class="dl-submenu">
                                            <h4>List of available VI</h4>
                                            <li id="listAvailableVI" ng-controller="listVIMenuController">
                                                <a href="#!/editVIRequest/{{vi.name}}" ng-repeat="vi in data">{{vi.name}}</a>
                                            </li>
                                        </ul>
                                    </li>


                                </ul>
                            </div><!-- /dl-menuwrapper -->
                        </div>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>


            <div id="page-wrapper" class="container ng-hide" ng-show="initialized">

                <div class="alert alert-danger" ng-show="error">{{error}}</div>
                <div id="page-wrapper2" ng-view></div>
            </div>

            <script src="js/lib/jquery.dlmenu.js" type="text/javascript"></script>
            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script src="bower_components/angular-resource/angular-resource.js"></script>
            <script src="bower_components/angular-route/angular-route.js"></script>
            <script src="bower_components/angular-cookies/angular-cookies.js"></script>
            <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
            <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
            <script src="bower_components/angular-animate/angular-animate.js"></script>

            <script>
                    function loadPage(content) {
                        console.log("Load Page");
                        if (content == '')
                            url = "";
                        else
                            url = "#!/" + content
                        $.ajax({
                            type: "GET",
                            url: url,
                            success: function (data) {
                                parser = new DOMParser();
                                htmlDoc = parser.parseFromString(data, "text/html");
                                //document.getElementById("page-wrapper2").innerHTML = htmlDoc;
                            }
                        });
                        console.log("Loading " + content);
                    }
                    $(function () {
                        $('#dl-menu').dlmenu({
                            //		            animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
                        });
                    });
            </script>

            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script src="bower_components/angular-resource/angular-resource.js"></script>
            <script src="bower_components/angular-route/angular-route.js"></script>
            <script src="bower_components/angular-cookies/angular-cookies.js"></script>
            <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
            <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
            <script src="bower_components/ng-table/ng-table.js"></script>
            <script src="bower_components/ngDialog/js/ngDialog.js"></script>
            <script src="bower_components/tree-model-bower/TreeModel.js"></script>
            <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
            <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>


            <!-- XML to JSON lib -->
            <script src="bower_components/x2js/xml2json.js"></script>
            <script src="bower_components/angular-x2js/src/x2js.js"></script>
            <!-- D3Js lib -->
            <script src="bower_components/d3/d3.js"></script>

            <script src="js/config.js"></script>
            <script src="js/app.js"></script>
            <script src="js/utils.js"></script>
            <script src="js/mqnaasTemplates.js"></script>
            <script src="js/controllers/LoginController.js"></script>
            <script src="js/controllers/UsersController.js"></script>

            <script src="js/controllers/home.js"></script>
            <script src="js/controllers/piMgtCtrl.js"></script>
            <script src="js/controllers/createVI.js"></script>
            <script src="js/controllers/mgt.js"></script>
            <script src="js/controllers/MainController.js"></script>

            <script src="js/services/historyService.js"></script>
            <script src="js/services/mqNaaSResourceService.js"></script>
            <script src="js/services/rootResource.js"></script>
            <script src="js/services/viService.js"></script>

            <script src="js/services.js"></script>

            <script src="js/directives/graph.js"></script>

            <script type="text/javascript" src="plugin/ONtoD3lib.js"></script>
            <script type="text/javascript" src="plugin/on_lib/script_html.js"></script>
            <script type="text/javascript" src="plugin/on_lib/initial_vars.js"></script>
            <script type="text/javascript" src="plugin/on_lib/multiselect.js"></script>
            <script type="text/javascript" src="plugin/on_lib/link_mgt.js"></script>
            <script type="text/javascript" src="plugin/draw_lib.js"></script>

    </body>
</html>

