<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <b>General characteristics</b>
                <div>
                    <div>Name
                        <input type="text" class="form-control" ng-model="ns.id" name="endpoint">
                    </div>
                    <div>Administrative state
                        <input type="text" class="form-control" ng-model="ns.admin" name="endpoint">
                    </div>
                    <div>Service type
                        <button type="button" class="btn btn-default" ng-model="selectedNetwork" data-html="1" bs-options="network for network in listNetworks" bs-select>
                            Select <span class="caret"></span>
                        </button>
                    </div>
                    <div>NNI S-TAG
                        <input placeholder="67174400" type="text" class="form-control" ng-model="ns.uplinkVlanId" name="endpoint">
                    </div>
                    <div>UNI C-TAG
                        <input placeholder="100" type="text" class="form-control" ng-model="ns.uniVlanId" name="endpoint">
                    </div>Interfaces
                    <br/>
                </div>
                <!-- /.box-body -->
                <div class="modal-footer">
                    <button ng-click="createNS(ns)">Create LAG</button>
                </div>
            </div>
        </div>
    </div>
</div>
